<%= simple_form_for(@model) do |f| %>
  <% if @model.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@model.errors.count, "error") %> prohibited this model from being saved:</h2>

      <ul>
      <% @model.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">
    <%= f.label :korkeus %><br />
    <%= f.text_field :korkeus %>
  </div>
  <div class="field">
    <%= f.label :leveys %><br />
    <%= f.text_field :leveys %>
  </div>
  <div class="field">
    <%= f.label :pituus %><br />
    <%= f.text_field :pituus %>
  </div>
  <div class="field">
    <%= f.label :syvyys %><br />
    <%= f.text_field :syvyys %>
  </div>
  <div class="field">
    <%= f.label :uppouma %><br />
    <%= f.text_field :uppouma %>
  </div>
  <div class="field">
    <%= f.label :valm_malli %><br />
    <%= f.text_field :valm_malli %>
  </div>
  <div class="field">
    <%= f.label :tyyppi %><br />
    <%= f.text_field :tyyppi %>
  </div>

  <div class="actions">
    <%= f.submit @teksti %>
  </div>
<% end %>
