<h1>Mallit</h1>

<table>
  <tr>
    <th>korkeus</th>
    <th>leveys</th>
	<th>pituus</th>
	<th>syvyys</th>
	<th>uppouma</th>
	<th>valm_malli</th>
	<th>tyyppi</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% for model in @models %>
  <tr>
    <td><%= model.korkeus %></td>
    <td><%= model.leveys %></td>
    <td><%= model.pituus %></td>
    <td><%= model.syvyys %></td>
    <td><%= model.uppouma %></td>
    <td><%= model.valm_malli %></td>
    <td><%= model.tyyppi %></td>
    <td><%= link_to 'Muokkaa', edit_model_path(model) %></td>
    <td><%= link_to 'Poista', model, method: :delete, data: { confirm: 'Oletko varma?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Luo uusi malli', new_model_path %>
<br />
<%= link_to 'Main menu', root_path %>
