<p>
  <b>valm_malli:</b>
  <%= @model.valm_malli %>
</p>

<p>
  <b>korkeus:</b>
  <%= @model.korkeus %>
</p>

<p>
  <b>leveys:</b>
  <%= @model.leveys %>
</p>

<p>
  <b>pituus:</b>
  <%= @model.pituus %>
</p>

<p>
  <b>syvyys:</b>
  <%= @model.syvyys %>
</p>

<p>
  <b>uppouma:</b>
  <%= @model.uppouma %>
</p>

<p>
  <b>tTyyppi:</b>
  <%= @model.tyyppi %>
</p>

<%= link_to 'Muokkaa', edit_model_path(@model) %> |
<%= link_to 'Takaisin', models_path %>
