<p>
  <b>Korkeus:</b>
  <%= @model.Korkeus %>
</p>

<p>
  <b>Leveys:</b>
  <%= @model.Leveys %>
</p>

<p>
  <b>Pituus:</b>
  <%= @model.Pituus %>
</p>

<p>
  <b>Syvyys:</b>
  <%= @model.Syvyys %>
</p>

<p>
  <b>Uppouma:</b>
  <%= @model.Uppouma %>
</p>

<p>
  <b>ValmMalli:</b>
  <%= @model.ValmMalli %>
</p>

<p>
  <b>tTyyppi:</b>
  <%= @model.tyyppi %>
</p>

<%= link_to 'Muokkaa', edit_model_path(@model) %> |
<%= link_to 'Takaisin', models_path %>
