<h1>Vartiokaudet</h1>

<br/>

<% @guardseasons.each do |guardseason| %>

    <h4><%= guardseason.nimi %> <%= guardseason.alku_pvm %> - <%= guardseason.loppu_pvm %> <%= link_to 'Näytä', guardseason %></h4>
    <table>
      <tr>
        <th>Jäsennumero</th>
        <th>Päivämäärä</th>
      </tr>

      <% guardseason.guardturns.each do |guardturn| %>
          <% if guardturn.vartioidaanko %>
             <tr>
               <td><%= guardturn.jno %></td>
               <td><%= guardturn.vartiointi_pvm %></td>
             </tr>
          <% end %>
      <% end %>
    </table>
<% end %>



<br/>

<%= link_to 'Luo uusi vartiokausi', new_guardseason_path %>
