<h1>Yhteenveto</h1>

<%= form_tag summaries_path, :method => 'get' do %>
      <%= hidden_field_tag :uusi, "uusi" %>
      <%= button_tag(type: "submit", class: "btn btn-warning", data: { confirm: 'Oletko varma?' }) do %>
          <i class="icon-briefcase icon-white"></i> Luo yhteenveto
      <% end %>
  <% end %>

<table>
  <tr>
    <th>Maksettu</th>
	<th>Saatavana</th>
	<th>Yht</th>
	<th>Luotu</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @summaries.each do |summary| %>
  <tr>
    <td><%= summary.maksetut %></td>
	<td><%= summary.saatavat %></td>
	<td><%= summary.maksetut+summary.saatavat %></td>
	<td><%= summary.created_at %></td>
    <td><%= link_to 'Show', summary %></td>
    <td><%= link_to 'Edit', edit_summary_path(summary) %></td>
    <td><%= link_to 'Destroy', summary, method: :delete, data: { confirm: 'Oletko varma?' } %></td>
  </tr>
<% end %>
</table>

<br />

