<h1>Toimet</h1>

<table>
  <tr>
    <th>Nimi</th>
    <th>Hyvityksen suuruus</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @employments.each do |employment| %>
  <tr>
    <td><%= employment.nimi %></td>
    <td><%= employment.hyvityksenSuuruus %></td>
    <td><%= link_to 'Show', employment %></td>
    <td><%= link_to 'Edit', edit_employment_path(employment) %></td>
    <td><%= link_to 'Destroy', employment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Uusi toimi', new_employment_path %>
