<h1>telakka <%= @dockyard.name %> </h1>

<p>
  <b>nimi:</b>
  <%= @dockyard.name %>
</p>

<p>
  <b>pituus:</b>
  <%= @dockyard.length %>
</p>

<p>
  <b>leveys:</b>
  <%= @dockyard.width %>
</p>

<p>
  <b>Tilaa j채ljell채 / Koko telakka:  </b>
  <%= @space_left %> m&sup2; / <%= @dockyard.width*@dockyard.length %> m&sup2;
</p>


<%= link_to 'Muokkaa', edit_dockyard_path(@dockyard) %> |
<%= link_to 'Takaisin', dockyards_path %>
<%= link_to 'Uusi telakkapaikka', new_dockyard_dockyard_spot_path(@dockyard) %>

<h2>telakkapaikat</h2>

<table>
  <tr>
    <th>Numero</th>
    <th>Paikan pituus</th>
    <th>Paikan leveys</th>
    <th>Vene</th>
    <th>Veneen pituus</th>
    <th>Veneen leveys</th>
    <th>Trailer</th>
    <th>Nosto</th>
    <th>Hinta</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  <% @dockyard_spots.each do |dys| %>
    <tr>
      <td><%= dys.number %></td>
      <td><%= dys.length %></td>
      <td><%= dys.width %></td>
      <% if dys.boat.nil? %>
          <td></td>
          <td></td>
          <td></td>
      <% else %>
          <td><%= link_to dys.boat.reknro, dys.boat  %></td>
          <td><%= dys.boat.pituus  %></td>
          <td><%= dys.boat.leveys  %></td>
      <% end %>
      <td><%= dys.trailer ? 'Kyll채' : 'Ei' %></td>
      <td><%= dys.lift ? 'Kyll채' : 'Ei' %></td>
      <td><%= @telakanNeliohinta.data %></td>
      <td><%= link_to 'Muokkaa', edit_dockyard_dockyard_spot_path(@dockyard.id, dys) %></td>
      <td><%= link_to 'Poista', dockyard_dockyard_spot_path(@dockyard.id, dys), method: :delete, data: { confirm: 'Oletko varma?' } %></td>
      <td></td>
    </tr>
  <% end %>
</table>
