<%= simple_form_for(@invoice) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :nimi %>
    <%= f.input :jno, input_html: { value: params[:jno]}, :label => 'Jäsennumero' %>
    <%= f.input :erapvm, :default => Date.today + 1.month, :order => [ :day, :month, :year], :label => 'Eräpvm' %>
    <%= f.input :toimihlokerroin, :label => 'Toimihlökerroin' %>
    <%= f.input :talkookerroin %>
    <%= f.input :viitesuoritukset %>
    <%= f.input :suorituksetKassaan %>
    <%= f.input :liittymismaksu %>
    <%= f.input :jasenmaksu, :label => 'Jäsenmaksu' %>
    <%= f.input :venerekisterimaksu %>
    <%= f.input :varastokoppimaksu %>
    <%= f.input :laiturimaksu %>
    <%= f.input :ensirekisterimaksu %>
    <%= f.input :telakkamaksu %>
    <%= f.input :muutMaksut %>
    <%= f.input :talkoosakko %>
    <%= f.input :katsastussakko %>
    <%= f.input :vartiosakko %>
    <%= f.input :laskutuslisa, :label => 'Laskutuslisä' %>
    <%= f.input :luontipvm, :order => [ :day, :month, :year] %>
    <%= f.input :lahetyspvm, :order => [ :day, :month, :year], :label => 'Lähetyspvm' %>
    <%= f.input :tunniste %>
    <%= f.input :vapaasana %>
    <%= f.input :maksettu %>

  </div>

  <div class="form-actions">
    <%= f.submit @teksti %>
  </div>
<% end %>
