<!DOCTYPE html>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js">
</script>
<script src="/assets/invoicefilter.js">
</script>
<script src="/assets/jquery.tablesorter.js">
</script>
<script>
$(document).ready(function(){
  $("#button").click(function(){
    $("#filtterit").toggle();
  });
});
</script>
<html>
<body onload="hideAll();">

<h1>Laskut</h1>

<span style="float:left;">
<%= form_tag invoices_path, :method => 'get' do %>
    <%= hidden_field_tag :search, "paid" %>
<%= button_tag(type: "submit", class: "btn") do %>
    <i class="icon-ok"></i> Maksetut
<% end %>
<% end %>
</span>
<span style="float:left;">
<%= form_tag invoices_path, :method => 'get' do %>
    <%= hidden_field_tag :search, "unpaid" %>
<%= button_tag(type: "submit", class: "btn") do %>
    <i class="icon-warning-sign"></i> Maksamattomat
<% end %>
<% end %>
</span>

<span style="float:left;">
<%= form_tag invoices_path, :method => 'get' do %>
    <%= hidden_field_tag :search, "overdue" %>
      <%= button_tag(type: "submit", class: "btn") do %>
    <i class="icon-warning-sign"></i> Erääntyneet
<% end %>
<% end %>
</span>

<%= form_tag invoices_path, :method => 'get' do %>
    <%= button_tag(type: "submit", class: "btn") do %>
    <i class="icon-list"></i> Näytä kaikki
<% end %>
<% end %>
<%= form_tag invoices_path, :method => 'get' do %>
  <%= hidden_field_tag :create, "create" %>
    <%= button_tag(type: "submit", class: "btn btn-warning") do %>
    <i class="icon-briefcase icon-white"></i> Luo kaikille lasku
<% end %>
<% end %>

<button class="btn btn-info" type="button" id="button">Filtterit</button>

  <form id="filtterit" class ="form-inline">
      <label for="csuorkas" class="checkbox"><input type="checkbox" id="csuorkas" onclick="toggle('.suorkas', this)"/>Suoritukset kassaan</label> 
      <label for="cannehyv" class="checkbox"><input type="checkbox" id="cannehyv" onclick="toggle('.annehyv', this)"/>Annetut hyvitykset</label> 
      <label for="cedelkau" class="checkbox"><input type="checkbox" id="cedelkau" onclick="toggle('.edelkau', this)"/>Edellisen kauden laskutus</label> 
      <label for="ctalksak" class="checkbox"><input type="checkbox" id="ctalksak" onclick="toggle('.talksak', this)"/>Talkoosakko</label> 
      <label for="ckatssak" class="checkbox"><input type="checkbox" id="ckatssak" onclick="toggle('.katssak', this)"/>Katsastussakko</label> 
      <label for="cvartsak" class="checkbox"><input type="checkbox" id="cvartsak" onclick="toggle('.vartsak', this)"/>Vartiosakko</label>
      <label for="clasklis" class="checkbox"><input type="checkbox" id="clasklis" onclick="toggle('.lasklis', this)"/>Laskutuslisä</label>
      <label for="cmuutmak" class="checkbox"><input type="checkbox" id="cmuutmak" onclick="toggle('.muutmak', this)"/>Muut maksut</label>
      <label for="censrekm" class="checkbox"><input type="checkbox" id="censrekm" onclick="toggle('.ensrekm', this)"/>Laskutuslisä</label>

  </form>

<table id="myTable" class="table table-condensed">
 <thead>
  <tr>
    <th>Nimi</th>
    <th>Jno</th>
    <th class="suorkas">Suorituksetkassaan</th>
    <th class="annehyv">Annetuthyvitykset</th>
    <th>Liittymismaksu</th>
    <th>Jasenmaksu</th>
    <th class="edelkau">Edellisenkaudenlaskutus</th>
    <th>Venerekisterimaksu</th>
    <th>Varastokoppimaksu</th>
    <th>Laiturimaksu</th>
    <th class="ensrekm">Ensirekisterimaksu</th>
    <th>Telakkamaksu</th>
    <th class="muutmak">Muutmaksut</th>
    <th>Viitenumero</th>
    <th class="talksak">Talkoosakko</th>
    <th class="katssak">Katsastussakko</th>
    <th class="vartsak">Vartiosakko</th>
    <th class="lasklis">Laskutuslisa</th>
    <th></th>
  </tr>
 </thead>

<% @invoices.each do |invoice| %>
  <tr>
    <td><%= !invoice.member.nil? ? invoice.member.Nimi : invoice.nimi %></td>
    <td><%= invoice.jno %></td>
    <td class="suorkas"><%= invoice.suorituksetKassaan %></td>
    <td class="annehyv"><%= invoice.annetutHyvitykset %></td>
    <td><%= invoice.liittymismaksu %></td>
    <td><%= invoice.jasenmaksu %></td>
    <td class="edelkau"><%= invoice.edellisenKaudenLaskutus %></td>
    <td><%= invoice.venerekisterimaksu %></td>
    <td><%= invoice.varastokoppimaksu %></td>
    <td><%= invoice.laiturimaksu %></td>
    <td class="ensrekm"><%= invoice.ensirekisterimaksu %></td>
    <td><%= invoice.telakkamaksu %></td>
    <td class="muutmak"><%= invoice.muutMaksut %></td>
    <td><%= invoice.viitenumero %></td>
    <td class="talksak"><%= invoice.talkoosakko %></td>
    <td class="katssak"><%= invoice.katsastussakko %></td>
    <td class="vartsak"><%= invoice.vartiosakko %></td>
    <td class="lasklis"><%= invoice.laskutuslisa %></td>

    <td><%= link_to '<i class="btn btn-primary btn-mini"><i class="icon-info-sign icon-white"></i>Tiedot</i>'.html_safe, invoice %>
        <%= link_to '<i class="btn btn-primary btn-mini"><i class="icon-edit icon-white"></i>Muokkaa</i>'.html_safe, edit_invoice_path(invoice) %>
        <%= link_to '<i class="btn btn-danger btn-mini"><i class="icon-remove icon-white"></i>Poista</i>'.html_safe, invoice, method: :delete, data: { confirm: 'Oletko varma?' } %>
    </td>

  </tr>
<% end %>
</table>

<br />

<%= link_to '<i class="btn btn-danger"><i class="icon-home icon-white"></i>    Etusivulle</i>'.html_safe, root_path %>

<%= link_to '<i class="btn btn-success"><i class="icon-plus icon-white"></i>  Luo uusi lasku</i>'.html_safe, new_invoice_path %>
<script>
$(document).ready(function() 
    { 
        $("#myTable").tablesorter(); 
    } 
); 
</script>
</body>
</html>
