<%= simple_form_for(@guardturn) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :vartiointi_pvm %>
    <%= f.input :jno %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
