<%= simple_form_for([@guardseason, @guardturn], :html => {:multipart => true}) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :vartiointi_pvm %>
    <%= f.input :jno, :label => "Jäsennumero" %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
