<% unless admin_signed_in? -%>
  <p><%= link_to 'Rekisteröidy', new_admin_registration_path %></p>

  <p><%= link_to 'Kirjaudu sisään', new_admin_session_path %></p>
<% end -%>
<% if admin_signed_in? -%>
<p> <%= link_to 'Veneet', boats_path %></p>
<p> <%= link_to 'Jäsenet', members_path %></p>
<p> <%= link_to 'Luo uusi vene-jäsen yhteys', boats_members_path %></p>
<p> <%= link_to 'Laiturit', docks_path %></p>
<p> <%= link_to 'Varastokopit', storages_path %></p>
<p> <%= link_to 'Telakat', dockyards_path %></p>
<p> <%= link_to 'Mallit', models_path %></p>
<p> <%= link_to 'Hinnasto', pricings_path %></p>
<p> <%= link_to 'Laskut', invoices_path %></p>
<% end -%>
