<h2> Laiturille <%= @dock.id %></h2>
<p>Laiturissa tilaa: <%= @spaceLeft.to_s + ' m' %> </p>

<%= simple_form_for(@berth) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.input :number, input_html: { value: params[:number]} %>
      <%= f.input :width %>
      <%= f.input :length %>
      <%= f.input :depth %>
      <%= f.input :reknro %>
      <%= f.input :jno %>
      <%= f.input :vartio %>
      <%= f.check_box :exists %>
    </div>

    <div class="actions">
      <%= f.submit @teksti, :id => 'lisaa_laituripaikka' %>
    </div>
<% end %>
