<h2> Laiturille <%= @dock.id %></h2>
<p>Laiturissa tilaa: <%= @spaceLeft.to_s + ' m' %> </p>

<%= simple_form_for([@dock, @berth], :html => {:multipart => true}) do |f| %>
    <% if @berth.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@berth.errors.count, "error") %> prohibited this dock from being saved:</h2>

          <ul>
            <% @berth.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.input :number, input_html: { value: params[:numero] }, :label => "Laiturin numero" %>
      <%= f.input :width, :label => "Leveys" %>
      <%= f.input :length, :label => "Pituus" %>
      <%= f.input :depth, :label => "Syvyys" %>
      <%= f.input :boat_id, :label => "Veneen id" %>
      <%= f.label "Onko olemassa?" %>
      <%= f.check_box :exists %>
    </div>

    <br/>

    <div class="actions">
      <%= f.submit @teksti, :id => 'lisaa_laituripaikka' %>
    </div>
<% end %>


<%= @testi %>