<%= simple_form_for(@malli) do |f| %>
  <% if @malli.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@malli.errors.count, "error") %> prohibited this malli from being saved:</h2>

      <ul>
      <% @malli.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">
    <%= f.label :Korkeus %><br />
    <%= f.text_field :Korkeus %>
  </div>
  <div class="field">
    <%= f.label :Leveys %><br />
    <%= f.text_field :Leveys %>
  </div>
  <div class="field">
    <%= f.label :Pituus %><br />
    <%= f.text_field :Pituus %>
  </div>
  <div class="field">
    <%= f.label :Syvyys %><br />
    <%= f.text_field :Syvyys %>
  </div>
  <div class="field">
    <%= f.label :Uppouma %><br />
    <%= f.text_field :Uppouma %>
  </div>
  <div class="field">
    <%= f.label :ValmMalli %><br />
    <%= f.text_field :ValmMalli %>
  </div>
  <div class="field">
    <%= f.label :tyyppi %><br />
    <%= f.text_field :tyyppi %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
