<h1>Mallit</h1>

<table>
  <tr>
    <th>Korkeus</th>
    <th>Leveys</th>
	<th>Pituus</th>
	<th>Syvyys</th>
	<th>Uppouma</th>
	<th>ValmMalli</th>
	<th>tyyppi</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% for malli in @mallis %>
  <tr>
    <td><%= malli.Korkeus %></td>
    <td><%= malli.Leveys %></td>
    <td><%= malli.Pituus %></td>
    <td><%= malli.Syvyys %></td>
    <td><%= malli.Uppouma %></td>
    <td><%= malli.ValmMalli %></td>
    <td><%= malli.tyyppi %></td>
    <td><%= link_to 'Muokkaa', edit_malli_path(malli) %></td>
    <td><%= link_to 'Poista', malli, method: :delete, data: { confirm: 'Oletko varma?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Luo uusi malli', new_malli_path %>
<br />
<%= link_to 'Main menu', root_path %>
