<p>
  <b>Korkeus:</b>
  <%= @malli.Korkeus %>
</p>

<p>
  <b>Leveys:</b>
  <%= @malli.Leveys %>
</p>

<p>
  <b>Pituus:</b>
  <%= @malli.Pituus %>
</p>

<p>
  <b>Syvyys:</b>
  <%= @malli.Syvyys %>
</p>

<p>
  <b>Uppouma:</b>
  <%= @malli.Uppouma %>
</p>

<p>
  <b>ValmMalli:</b>
  <%= @malli.ValmMalli %>
</p>

<p>
  <b>tTyyppi:</b>
  <%= @malli.tyyppi %>
</p>

<%= link_to 'Edit', edit_malli_path(@malli) %> |
<%= link_to 'Back', mallis_path %>
