<%= simple_form_for(@storage) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :vk, :label => "nimi" %>
    <%= f.input :pala, :label => "Pinta-ala" %>
    <%= f.input :jno, :label => "Jäsennumero" %>
  </div>

  <div class="form-actions">
    <%= f.submit "Lisää varastokoppi" %>
  </div>
<% end %>
