<h1>Varastokopit</h1>

<table class="table table-condensed">
  <tr>
    <th>Nimi</th>
    <th>Pinta-ala</th>
    <th>Jäsennumero</th>
    <th>Omistaja</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @storages.each do |storage| %>
	<% omistaja = Member.where(:Jno => storage.jno).first %>
  <tr>
    <td><%= storage.vk %></td>
    <td><%= storage.pala %></td>
    <td><%= storage.jno %></td>
	<td><%= omistaja.Nimi %></td>
        <td><%= link_to '<i class="btn btn-primary btn-mini"><i class="icon-edit icon-white"></i>Muokkaa</i>'.html_safe, edit_storage_path(storage) %>
        <%= link_to '<i class="btn btn-danger btn-mini"><i class="icon-remove icon-white"></i>Poista</i>'.html_safe, storage, method: :delete, data: { confirm: 'Oletko varma?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to '<i class="btn btn-success"><i class="icon-plus icon-white"></i>  Luo uusi varastokoppi</i>'.html_safe, new_storage_path %>
