
<%= form_tag storages_path, :method => 'get' do %>
    <%= hidden_field_tag :search, "tyhjat" %>
    <%= button_tag(type: "submit", class: "btn") do %>
        <i class="icon-ok"></i> Tyhj채t kopit
    <% end %>
<% end %>
<%= form_tag storages_path, :method => 'get' do %>
      <%= hidden_field_tag :search, "kaikki" %>
      <%= button_tag(type: "submit", class: "btn") do %>
          <i class="icon-list"></i> N채yt채 kaikki
      <% end %>
  <% end %>

<h1>Varastokopit</h1>

<table class="table table-condensed">
  <tr>
    <th>nimi</th>
    <th>Pinta-ala</th>
    <th>J채sennumero</th>
    <th>Omistaja</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @storages.each do |storage| %>
    <% if !storage.jno.nil? %>
	  <% omistaja = Member.where(:jno => storage.jno).first %>
	<% end %>
  <tr>
    <td><%= storage.vk %></td>
    <td><%= storage.pala %></td>
    <td><%= storage.jno %></td>
	<% if !storage.jno.nil? && !omistaja.nil? %>
	  <td><%= omistaja.nimi %></td>
	<% else %>
	  <td>Ei omistajaa </td>
	<% end %>
        <td><%= link_to '<i class="btn btn-primary btn-mini"><i class="icon-edit icon-white"></i>Muokkaa</i>'.html_safe, edit_storage_path(storage) %>
        <%= link_to '<i class="btn btn-danger btn-mini"><i class="icon-remove icon-white"></i>Poista</i>'.html_safe, storage, method: :delete, data: { confirm: 'Oletko varma?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to '<i class="btn btn-success"><i class="icon-plus icon-white"></i>  Luo uusi varastokoppi</i>'.html_safe, new_storage_path %>


