<h1>Varastokopit</h1>

<table>
  <tr>
    <th>Nimi</th>
    <th>Pinta-ala</th>
    <th>Jäsennumero</th>
	<th>Omistaja</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @storages.each do |storage| %>
	<% omistaja = Member.where(:Jno => storage.jno).first %>
  <tr>
    <td><%= storage.vk %></td>
    <td><%= storage.pala %></td>
    <td><%= storage.jno %></td>
	<td><%= omistaja.Nimi %></td>
    <td><%= link_to 'Muokkaa', edit_storage_path(storage) %></td>
    <td><%= link_to 'Poista', storage, method: :delete, data: { confirm: 'Oletko varma?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Uusi varastokoppi', new_storage_path %>
