<p id="notice"><%= notice %></p>

<p>
  <b>Vk:</b>
  <%= @storage.vk %>
</p>

<p>
  <b>Pala:</b>
  <%= @storage.pala %>
</p>

<p>
  <b>Jno:</b>
  <%= @storage.jno %>
</p>

<p>
  <b>Koppimk:</b>
  <%= @storage.koppimk %>
</p>


<%= link_to 'Muokkaa', edit_storage_path(@storage) %> |
<%= link_to 'Takaisin', storages_path %>
