<%= simple_form_for(@pricing) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :target, :label => 'Kohde' %>
    <%= f.input :data, :label => 'Arvo' %>
  </div>

  <div class="form-actions">
    <%= f.submit @teksti %>
  </div>
<% end %>
