<h1>Vene-jäsen yhteydet</h1>
<table>
  <tr>
    <th>Vene</th>
    <th>Jäsen</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @boats_members.each do |boats_member| %>
    <tr>
    <td><%= boats_member.boat.RekNro %></td>
    <td><%= boats_member.member.Nimi %></td>
    <td><%= link_to 'Muokkaa', edit_boats_member_path(boats_member) %></td>
    <td><%= link_to 'Poista', boats_member_path(boats_member), method: :delete, data: { confirm: 'Oletko varma?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Luo uusi vene-jäsen yhteys', new_boats_member_path %>
