<h3>Suorituksen tiedot:</h3>

<b>Maksettu:</b> <%= @payment.amount %>   <br />
<b>Maksupäivä:</b> <%= @payment.payment_date.strftime('%d.%m.%Y') %> <br />
<b>Viitenumero:</b> <%= @payment.ref_number %>  <br />
<b>Raaka data:</b> <%= @payment.raw_data %>   <br />

<br />
<% if @member %>
<h4>Laskut: </h4>
<% @invoices.each do |invoice| %>
   Viite: <%= invoice.member.viitenumero %> <br />
   Eräpäivä: <%= invoice.erapvm.strftime('%d.%m.%Y') %> <br />
   Summa: <%= invoice.amount_left_to_pay %>       <br />
   <%= link_to 'Näytä lasku', invoice_path(invoice) %>
   <%= button_to 'Valitse tämä', survey_done_path(@payment.id, :invoice => invoice.id), :method => 'post' %>
    <br />

<% end %>
<% else %>

    <br />
    <p>Viitenumerolla ei löytynyt jäseniä, tähän pitäisi nyt varmaan saada hieno viitenumeron vaihto ominaisuus.</p>

<% end %>