<h3>Suorituksen tiedot:</h3>

<b>Maksettu:</b> <%= @payment.amount %>   <br />
<b>Viitenumero:</b> <%= @payment.ref_number %>  <br />
<b>Raaka data:</b> <%= @payment.raw_data %>   <br />

<br />
<h4>Laskut: </h4>
<% @invoices.each do |invoice| %>
   Viite: <%= invoice.member.viitenumero %> <br />
   Summa: <%= invoice.summa %>       <br />
   <%= button_to 'Valitse tämä', survey_done_path(@payment.id, :invoice => invoice.id), :method => 'post' %>
    <br />

<% end %>