<%= javascript_include_tag "autocomplete-rails.js" %>
<%= simple_nested_form_for @boat, :html => { :class => 'form-horizontal'} do |f| %>
  <% if @boat.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@boat.errors.count, "error") %> prohibited this boat from being saved:</h2>

      <ul>
      <% @boat.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <%= f.simple_fields_for :BoatsMembers, :html => { :class => 'control-group'} do |yhteys| %>
        <% yhteys.input :Omistaja, :id => "auto-complete", :class => 'control-label' do %>
			<%= yhteys.autocomplete_field :member_id, autocomplete_member_jno_boats_path, :value => yhteys.object.member_id %>
            <%= yhteys.link_to_remove "Poista omistaja", :class => 'btn btn-mini btn-danger' %>
        <% end %>
    <% end %>
    <div class="center">
  <%= f.link_to_add "Uusi omistaja", :BoatsMembers, :class => 'btn btn-mini btn-primary' %>
      </div>

  <div class="field">
    <%= f.label :rek_pvm %>
    <%= f.date_select :rek_pvm, :order => [ :day, :month, :year] %>
  </div>
  <div class="field">
    <%= f.label :muutos_pvm %>
    <%= f.date_select :muutos_pvm, :order => [ :day, :month, :year] %>
  </div>
  <div class="field">
    <%= f.label :nimi %>
    <%= f.text_field :nimi %>
  </div>
  <div class="field">
    <%= f.label :tyyppi %>
    <%= f.text_field :tyyppi %>
  </div>
  <div class="field">
    <%= f.label :reknro %>
    <%= f.text_field :reknro %>
  </div>

  <% if @mallit != nil %>
      <%= f.label 'Veneiden tiedot' %>
      <%= f.select :valm_malli, @models, {}, onchange: "taydenna()" %>
  <% end %>

  <div class="field">
    <%= f.label :valm_malli %>
    <%= f.text_field :valm_malli %>
  </div>
  <div class="field">
    <%= f.label :pituus %>
    <%= f.text_field :pituus %>
  </div>
  <div class="field">
    <%= f.label :leveys %>
    <%= f.text_field :leveys %>
  </div>
  <div class="field">
    <%= f.label :syvyys %>
    <%= f.text_field :syvyys %>
  </div>
  <div class="field">
    <%= f.label :uppouma %>
    <%= f.text_field :uppouma %>
  </div>
  <div class="field">
    <%= f.label :korkeus %>
    <%= f.text_field :korkeus %>
  </div>
  <div class="field">
    <%= f.label :teho %>
    <%= f.text_field :teho %>
  </div>
  <div class="field">
    <%= f.label :vuosimalli %>
    <%= f.number_field :vuosimalli %>
  </div>
  <div class="field">
    <%= f.label :vene_puh_a %>
    <%= f.text_field :vene_puh_a %>
  </div>
  <div class="field">
    <%= f.label :vene_puh_b %>
    <%= f.text_field :vene_puh_b %>
  </div>
  <div class="field">
    <%= f.label :huomautukset %>
    <%= f.text_field :huomautukset %>
  </div>
  <div class="field">
    <%= f.label :tarra %>
    <%= f.number_field :tarra %>
  </div>
  <div class="field">
    <%= f.label :katsastus %>
    <%= f.text_field :katsastus %>
  </div>
  <div class="field">
    <%= f.label :Laituri %>
    <%= number_field_tag :Laituri %>
  </div>
  <div class="field">
    <%= f.label :Laituripaikka %>
    <%= number_field_tag :Laituripaikka %>
  </div>
  <div class="actions">
    <%= f.submit @teksti %>
  </div>
<% end %>
