<%= javascript_include_tag "autocomplete-rails.js" %>
<%= simple_nested_form_for @boat, :html => { :class => 'form-horizontal'} do |f| %>
  <% if @boat.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@boat.errors.count, "error") %> prohibited this boat from being saved:</h2>

      <ul>
      <% @boat.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <%= f.simple_fields_for :BoatsMembers, :html => { :class => 'control-group'} do |yhteys| %>
        <% yhteys.input :Omistaja, :id => "auto-complete", :class => 'control-label' do %>
            <%= yhteys.text_field :member_id, :value => yhteys.object.member_id %>
            <%= yhteys.link_to_remove "Poista omistaja", :class => 'btn btn-mini btn-danger' %>
        <% end %>
    <% end %>
    <div class="center">
  <%= f.link_to_add "Uusi omistaja", :BoatsMembers, :class => 'btn btn-mini btn-primary' %>
      </div>

  <div class="field">
    <%= f.label :RekPvm %>
    <%= f.date_select :RekPvm, :order => [ :day, :month, :year] %>
  </div>
  <div class="field">
    <%= f.label :MuutosPvm %>
    <%= f.date_select :MuutosPvm, :order => [ :day, :month, :year] %>
  </div>
  <div class="field">
    <%= f.label :Nimi %>
    <%= f.text_field :Nimi %>
  </div>
  <div class="field">
    <%= f.label :tyyppi %>
    <%= f.text_field :tyyppi %>
  </div>
  <div class="field">
    <%= f.label :RekNro %>
    <%= f.text_field :RekNro %>
  </div>

  <% if @mallit != nil %>
      <%= f.label 'Veneiden tiedot' %>
      <%= f.select :ValmMalli, @models, {}, onchange: "taydenna()" %>
  <% end %>

  <div class="field">
    <%= f.label :ValmMalli %>
    <%= f.text_field :ValmMalli %>
  </div>
  <div class="field">
    <%= f.label :Pituus %>
    <%= f.text_field :Pituus %>
  </div>
  <div class="field">
    <%= f.label :Leveys %>
    <%= f.text_field :Leveys %>
  </div>
  <div class="field">
    <%= f.label :Syvyys %>
    <%= f.text_field :Syvyys %>
  </div>
  <div class="field">
    <%= f.label :Uppouma %>
    <%= f.text_field :Uppouma %>
  </div>
  <div class="field">
    <%= f.label :Korkeus %>
    <%= f.text_field :Korkeus %>
  </div>
  <div class="field">
    <%= f.label :Teho %>
    <%= f.text_field :Teho %>
  </div>
  <div class="field">
    <%= f.label :Vuosimalli %>
    <%= f.number_field :Vuosimalli %>
  </div>
  <div class="field">
    <%= f.label :VenePuhA %>
    <%= f.text_field :VenePuhA %>
  </div>
  <div class="field">
    <%= f.label :VenePuhB %>
    <%= f.text_field :VenePuhB %>
  </div>
  <div class="field">
    <%= f.label :Huomautukset %>
    <%= f.text_field :Huomautukset %>
  </div>
  <div class="field">
    <%= f.label :Tarra %>
    <%= f.number_field :Tarra %>
  </div>
  <div class="field">
    <%= f.label :Katsastus %>
    <%= f.text_field :Katsastus %>
  </div>
  <div class="field">
    <%= f.label :Laituri %>
    <%= number_field_tag :Laituri %>
  </div>
  <div class="field">
    <%= f.label :Laituripaikka %>
    <%= number_field_tag :Laituripaikka %>
  </div>
  <div class="actions">
    <%= f.submit @teksti %>
  </div>
<% end %>
