<%= nested_form_for(@boat) do |f| %>
  <% if @boat.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@boat.errors.count, "error") %> prohibited this boat from being saved:</h2>

      <ul>
      <% @boat.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :Omistaja %><br />
    <%= f.text_field :Omistaja %>
  </div>

<%= f.fields_for :BoatsMembers do |yhteys| %>
	<%= yhteys.label :member_id %><br />
	<%= yhteys.text_field :member_id %><br />
	<%= yhteys.link_to_remove "Poista yhteys" %>
<% end %>
<p><%= f.link_to_add "Uusi yhteys", :BoatsMembers %></p>

  <div class="field">
    <%= f.label :JnoOs %><br />
    <%= f.text_field :JnoOs %>
  </div>
  <div class="field">
    <%= f.label :RekPvm %><br />
    <%= f.date_select :RekPvm %>
  </div>
  <div class="field">
    <%= f.label :MuutosPvm %><br />
    <%= f.date_select :MuutosPvm %>
  </div>
  <div class="field">
    <%= f.label :Nimi %><br />
    <%= f.text_field :Nimi %>
  </div>
  <div class="field">
    <%= f.label :tyyppi %><br />
    <%= f.text_field :tyyppi %>
  </div>
  <div class="field">
    <%= f.label :RekNro %><br />
    <%= f.text_field :RekNro %>
  </div>

  <% if @mallit != nil %>
 <div align="left">
  <select name="malli" id="malli" onchange="taydenna()">
     <option value=""> </option>
     <% @mallit.each do |m| %>
     <option value="<%= m[:ValmMalli] %>"><%= m[:ValmMalli] %></option>
     <% end %>
  </select>
  </div>
  <% end %>

  <div class="field">
    <%= f.label :ValmMalli %><br />
    <%= f.text_field :ValmMalli %>
  </div>
  <div class="field">
    <%= f.label :Pituus %><br />
    <%= f.text_field :Pituus %>
  </div>
  <div class="field">
    <%= f.label :Leveys %><br />
    <%= f.text_field :Leveys %>
  </div>
  <div class="field">
    <%= f.label :Syvyys %><br />
    <%= f.text_field :Syvyys %>
  </div>
  <div class="field">
    <%= f.label :Uppouma %><br />
    <%= f.text_field :Uppouma %>
  </div>
  <div class="field">
    <%= f.label :Korkeus %><br />
    <%= f.text_field :Korkeus %>
  </div>
  <div class="field">
    <%= f.label :Teho %><br />
    <%= f.text_field :Teho %>
  </div>
  <div class="field">
    <%= f.label :Vuosimalli %><br />
    <%= f.number_field :Vuosimalli %>
  </div>
  <div class="field">
    <%= f.label :VenePuhA %><br />
    <%= f.text_field :VenePuhA %>
  </div>
  <div class="field">
    <%= f.label :VenePuhB %><br />
    <%= f.text_field :VenePuhB %>
  </div>
  <div class="field">
    <%= f.label :Huomautukset %><br />
    <%= f.text_field :Huomautukset %>
  </div>
  <div class="field">
    <%= f.label :Tarra %><br />
    <%= f.number_field :Tarra %>
  </div>
  <div class="field">
    <%= f.label :Katsastus %><br />
    <%= f.text_field :Katsastus %>
  </div>
  <div class="field">
    <%= f.label :Laituri %><br />
    <%= f.text_field :Laituri %>
  </div>
  <div class="field">
    <%= f.label :Telakka %><br />
    <%= f.text_field :Telakka %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
