<!DOCTYPE html>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js">
</script>
<script src="/assets/boatfilter.js">
</script>
<script src="/assets/jquery.tablesorter.js">
</script>
<style type="text/css">
th { cursor: pointer;}
</style>
<script>
$(document).ready(function(){
  $("#button").click(function(){
    $("#filtterit").toggle();
  });
});
</script>
<html>
<body onload="hideAll();">

<h1>Veneet</h1>

<%= form_tag boats_path, :method => 'get', :class => 'form-search' do %>
  <p>
    <%= text_field_tag :search, params[:search], :class => 'input-medium search-query' %>
    <%= submit_tag "Search" %>
  </p>
<% end %>

<button class="btn btn-info" type="button" id="button">Filtterit</button>

  <form id="filtterit" class ="form-inline">
      <label for="cvalm_malli" class="checkbox"><input type="checkbox" id="cvalm_malli" onclick="toggle('.valm_malli', this)"/>Valmistusmalli</label> 
      <label for="cpituus" class="checkbox"><input type="checkbox" id="cpituus" onclick="toggle('.pituus', this)"/>pituus</label> 
      <label for="cleveys" class="checkbox"><input type="checkbox" id="cleveys" onclick="toggle('.leveys', this)"/>leveys</label> 
      <label for="csyvyys" class="checkbox"><input type="checkbox" id="csyvyys" onclick="toggle('.syvyys', this)"/>syvyys</label> 
      <label for="ckorkeus" class="checkbox"><input type="checkbox" id="ckorkeus" onclick="toggle('.korkeus', this)"/>korkeus</label> 
      <label for="cteho" class="checkbox"><input type="checkbox" id="cteho" onclick="toggle('.teho', this)"/>teho</label>
      <label for="cvuosimalli" class="checkbox"><input type="checkbox" id="cvuosimalli" onclick="toggle('.vuosimalli', this)"/>vuosimalli</label> 
      <label for="chuomautukset" class="checkbox"><input type="checkbox" id="chuomautukset" onclick="toggle('.huomautukset', this)"/>huomautukset</label> 
      <label for="ckatsastus" class="checkbox"><input type="checkbox" id="ckatsastus" onclick="toggle('.katsastus', this)"/>katsastus</label>  

    </form>



<table id="myTable" class="table table-condensed">
  <thead>
  <tr>
    <th>Rekpvm</th>
    <th>Muutospvm</th>
    <th>Nimi</th>
    <th>Tyyppi</th>
    <th>Reknro</th>
    <th class="valm_malli">valm_malli</th>
    <th class="pituus">pituus</th>
    <th class="leveys">leveys</th>
    <th class="syvyys">syvyys</th>
    <th class="korkeus">korkeus</th>
    <th class="teho">teho</th>
    <th class="vuosimalli">vuosimalli</th>
    <th class="huomautukset">huomautukset</th>
    <th class="katsastus">katsastus</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  </thead>

<% for boat in @boats %>
  <tr>
    <td><%= boat.rek_pvm %></td>
    <td><%= boat.muutos_pvm %></td>
    <td><%= boat.nimi %></td>
    <td><%= boat.tyyppi %></td>
    <td><%= boat.reknro %></td>

    <td class="valm_malli"><%= boat.valm_malli %></td>
    <td class="pituus"><%= boat.pituus %></td>
    <td class="leveys"><%= boat.leveys %></td>
    <td class="syvyys"><%= boat.syvyys %></td>
    <td class="korkeus"><%= boat.korkeus %></td>
    <td class="teho"><%= boat.teho %></td>
    <td class="vuosimalli"><%= boat.vuosimalli %></td>
    <td class="huomautukset"><%= boat.huomautukset %></td>
    <td class="katsastus"><%= boat.katsastus %></td>

    <td><%= link_to '<i class="btn btn-primary btn-mini"><i class="icon-info-sign icon-white"></i>Tiedot</i>'.html_safe, boat %>
        <%= link_to '<i class="btn btn-primary btn-mini"><i class="icon-edit icon-white"></i>Muokkaa</i>'.html_safe, edit_boat_path(boat) %>
        <%= link_to '<i class="btn btn-danger btn-mini"><i class="icon-remove icon-white"></i>Poista</i>'.html_safe, boat, method: :delete, data: { confirm: 'Oletko varma?' } %></td>
  </tr>
<% end %>

</table>

<br />

<br />

<%= link_to '<i class="btn btn-success"><i class="icon-plus icon-white"></i>  Luo uusi vene</i>'.html_safe, new_boat_path %>

<script>
$(document).ready(function() 
    { 
        $("#myTable").tablesorter(); 
    } 
); 
</script>
</body>
</html>
