<!DOCTYPE html>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js">
</script>
<script src="/assets/boatfilter.js">
</script>
<script src="/assets/jquery.tablesorter.js">
</script>
<script>
$(document).ready(function(){
  $("#button").click(function(){
    $("#filtterit").toggle();
  });
});
</script>
<html>
<body onload="hideAll();">

<h1>Veneet</h1>

<%= form_tag boats_path, :method => 'get', :class => 'form-search' do %>
  <p>
    <%= text_field_tag :search, params[:search], :class => 'input-medium search-query' %>
    <%= submit_tag "Search" %>
  </p>
<% end %>

<button class="btn btn-info" type="button" id="button">Filtterit</button>

  <form id="filtterit" class ="form-inline">
      <label for="cvalmmalli" class="checkbox"><input type="checkbox" id="cvalmmalli" onclick="toggle('.valmmalli', this)"/>Valmistusmalli</label> 
      <label for="cpituus" class="checkbox"><input type="checkbox" id="cpituus" onclick="toggle('.pituus', this)"/>Pituus</label> 
      <label for="cleveys" class="checkbox"><input type="checkbox" id="cleveys" onclick="toggle('.leveys', this)"/>Leveys</label> 
      <label for="csyvyys" class="checkbox"><input type="checkbox" id="csyvyys" onclick="toggle('.syvyys', this)"/>Syvyys</label> 
      <label for="ckorkeus" class="checkbox"><input type="checkbox" id="ckorkeus" onclick="toggle('.korkeus', this)"/>Korkeus</label> 
      <label for="cteho" class="checkbox"><input type="checkbox" id="cteho" onclick="toggle('.teho', this)"/>Teho</label>
      <label for="cvuosimalli" class="checkbox"><input type="checkbox" id="cvuosimalli" onclick="toggle('.vuosimalli', this)"/>Vuosimalli</label> 
      <label for="chuomautukset" class="checkbox"><input type="checkbox" id="chuomautukset" onclick="toggle('.huomautukset', this)"/>Huomautukset</label> 
      <label for="ckatsastus" class="checkbox"><input type="checkbox" id="ckatsastus" onclick="toggle('.katsastus', this)"/>Katsastus</label>  

    </form>



<table id="myTable" class="table table-condensed">
  <thead>
  <tr>
    <th>RekPvm</th>
    <th>MuutosPvm</th>
    <th>Nimi</th>
    <th>Tyyppi</th>
    <th>Reknro</th>
    <th class="valmmalli">Valmmalli</th>
    <th class="pituus">Pituus</th>
    <th class="leveys">Leveys</th>
    <th class="syvyys">Syvyys</th>
    <th class="korkeus">Korkeus</th>
    <th class="teho">Teho</th>
    <th class="vuosimalli">Vuosimalli</th>
    <th class="huomautukset">Huomautukset</th>
    <th class="katsastus">Katsastus</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  </thead>

<% for boat in @boats %>
  <tr>
    <td><%= boat.RekPvm %></td>
    <td><%= boat.MuutosPvm %></td>
    <td><%= boat.Nimi %></td>
    <td><%= boat.tyyppi %></td>
    <td><%= boat.RekNro %></td>

    <td class="valmmalli"><%= boat.ValmMalli %></td>
    <td class="pituus"><%= boat.Pituus %></td>
    <td class="leveys"><%= boat.Leveys %></td>
    <td class="syvyys"><%= boat.Syvyys %></td>
    <td class="korkeus"><%= boat.Korkeus %></td>
    <td class="teho"><%= boat.Teho %></td>
    <td class="vuosimalli"><%= boat.Vuosimalli %></td>
    <td class="huomautukset"><%= boat.Huomautukset %></td>
    <td class="katsastus"><%= boat.Katsastus %></td>

    <td><%= link_to '<i class="btn btn-primary btn-mini"><i class="icon-info-sign icon-white"></i>Tiedot</i>'.html_safe, boat %>
        <%= link_to '<i class="btn btn-primary btn-mini"><i class="icon-edit icon-white"></i>Muokkaa</i>'.html_safe, edit_boat_path(boat) %>
        <%= link_to '<i class="btn btn-danger btn-mini"><i class="icon-remove icon-white"></i>Poista</i>'.html_safe, boat, method: :delete, data: { confirm: 'Oletko varma?' } %></td>
  </tr>
<% end %>

</table>

<br />

<br />

<%= link_to '<i class="btn btn-danger"><i class="icon-home icon-white"></i>    Etusivulle</i>'.html_safe, root_path %>

<%= link_to '<i class="btn btn-success"><i class="icon-plus icon-white"></i>  Luo uusi vene</i>'.html_safe, new_boat_path %>

<script>
$(document).ready(function() 
    { 
        $("#myTable").tablesorter(); 
    } 
); 
</script>
</body>
</html>
