
<b>Omistaja(:t)</b>
<ul>
  <% @boat.members.each do |member| %>
      <li><%= link_to member.Nimi , member_path(member) %></li>
  <% end %>
</ul>


<p>
  <b>Rekpvm:</b>
  <%= @boat.RekPvm %>
</p>

<p>
  <b>Muutospvm:</b>
  <%= @boat.MuutosPvm %>
</p>

<p>
  <b>Nimi:</b>
  <%= @boat.Nimi %>
</p>

<p>
  <b>Tyyppi:</b>
  <%= @boat.tyyppi %>
</p>

<p>
  <b>Reknro:</b>
  <%= @boat.RekNro %>
</p>

<p>
  <b>Valmmalli:</b>
  <%= @boat.ValmMalli %>
</p>

<p>
  <b>Pituus:</b>
  <%= @boat.Pituus %>
</p>

<p>
  <b>Leveys:</b>
  <%= @boat.Leveys %>
</p>

<p>
  <b>Syvyys:</b>
  <%= @boat.Syvyys %>
</p>

<p>
  <b>Uppouma:</b>
  <%= @boat.Uppouma %>
</p>

<p>
  <b>Korkeus:</b>
  <%= @boat.Korkeus %>
</p>

<p>
  <b>Teho:</b>
  <%= @boat.Teho %>
</p>

<p>
  <b>Vuosimalli:</b>
  <%= @boat.Vuosimalli %>
</p>

<p>
  <b>Venepuha:</b>
  <%= @boat.VenePuhA %>
</p>

<p>
  <b>Venepuhb:</b>
  <%= @boat.VenePuhB %>
</p>

<p>
  <b>Huomautukset:</b>
  <%= @boat.Huomautukset %>
</p>

<p>
  <b>Tarra:</b>
  <%= @boat.Tarra %>
</p>

<p>
  <b>Katsastus:</b>
  <%= @boat.Katsastus %>
</p>

<p>
  <b>Laituri / paikka:</b>
  <% berth_string = @berth.dock_id.to_s + ' / ' + @berth.number.to_s unless @berth.nil? %>
  <%= link_to berth_string, edit_dock_berth_path(@berth.dock_id, @berth) unless @berth.nil? %>
</p>

<p>
  <b>Telakka / paikka:</b>
    <% dockyard_string = @dockyard.name + " / " + @dockyard_spot.number.to_s unless @dockyard.nil? %>
    <%= link_to dockyard_string, edit_dockyard_dockyard_spot_path(@dockyard, @dockyard_spot) unless @dockyard.nil? %>
</p>





<%= link_to 'Muokkaa', edit_boat_path(@boat) %> |
<%= link_to 'Takaisin', boats_path %>
