
<b>Omistaja(:t)</b>
<ul>
  <% @boat.members.each do |member| %>
      <li><%= link_to member.nimi , member_path(member) %> <%= member.paying_member?(@boat.id) ? '<b>      Maksaja</b>'.html_safe : '' %></li>
  <% end %>
</ul>


<p>
  <b>Rekpvm:</b>
 <%= I18n.l @boat.rek_pvm, format: :short %>
</p>

<p>
  <b>Muutospvm:</b>
  <%= I18n.l (@boat.muutos_pvm) if @boat.muutos_pvm %>
</p>

<p>
  <b>Nimi:</b>
  <%= @boat.nimi %>
</p>

<p>
  <b>Tyyppi:</b>
  <%= @boat.tyyppi %>
</p>

<p>
  <b>Reknro:</b>
  <%= @boat.reknro %>
</p>

<p>
  <b>Malli:</b>
  <%= @boat.valm_malli %>
</p>

<p>
  <b>Pituus:</b>
  <%= @boat.pituus %>
</p>

<p>
  <b>Leveys:</b>
  <%= @boat.leveys %>
</p>

<p>
  <b>Syvyys:</b>
  <%= @boat.syvyys %>
</p>

<p>
  <b>Uppouma:</b>
  <%= @boat.uppouma %>
</p>

<p>
  <b>Korkeus:</b>
  <%= @boat.korkeus %>
</p>

<p>
  <b>Teho:</b>
  <%= @boat.teho %>
</p>

<p>
  <b>Vuosimalli:</b>
  <%= @boat.vuosimalli %>
</p>

<p>
  <b>Vene puh a:</b>
  <%= @boat.vene_puh_a %>
</p>

<p>
  <b>Vene puh b:</b>
  <%= @boat.vene_puh_b %>
</p>

<p>
  <b>Huomautukset:</b>
  <%= @boat.huomautukset %>
</p>

<p>
  <b>Tarra:</b>
  <%= @boat.tarra %>
</p>

<p>
  <b>Katsastus:</b>
  <%= @boat.katsastus %>
</p>

<p>
  <b>Laituri / paikka:</b>
  <% berth_string = @berth.dock_id.to_s + ' / ' + @berth.number.to_s unless @berth.nil? %>
  <%= link_to berth_string, edit_dock_berth_path(@berth.dock_id, @berth) unless @berth.nil? %>
</p>

<p>
  <b>Telakka / paikka:</b>
    <% dockyard_string = @dockyard.name + " / " + @dockyard_spot.number.to_s unless @dockyard.nil? %>
    <%= link_to dockyard_string, edit_dockyard_dockyard_spot_path(@dockyard, @dockyard_spot) unless @dockyard.nil? %>
</p>





<%= link_to 'Muokkaa', edit_boat_path(@boat) %> |
<%= link_to 'Takaisin', boats_path %>
