
<p>
  <b>Omistaja:</b>
  <%= @boat.Omistaja %>
</p>

<p>
  <b>Jnoom:</b>
  <%= @boat.JnoOm %>
</p>

<p>
  <b>Jnoos:</b>
  <%= @boat.JnoOs %>
</p>

<p>
  <b>Rekpvm:</b>
  <%= @boat.RekPvm %>
</p>

<p>
  <b>Muutospvm:</b>
  <%= @boat.MuutosPvm %>
</p>

<p>
  <b>Nimi:</b>
  <%= @boat.Nimi %>
</p>

<p>
  <b>Tyyppi:</b>
  <%= @boat.tyyppi %>
</p>

<p>
  <b>Reknro:</b>
  <%= @boat.RekNro %>
</p>

<p>
  <b>Valmmalli:</b>
  <%= @boat.ValmMalli %>
</p>

<p>
  <b>Pituus:</b>
  <%= @boat.Pituus %>
</p>

<p>
  <b>Leveys:</b>
  <%= @boat.Leveys %>
</p>

<p>
  <b>Syvyys:</b>
  <%= @boat.Syvyys %>
</p>

<p>
  <b>Uppouma:</b>
  <%= @boat.Uppouma %>
</p>

<p>
  <b>Korkeus:</b>
  <%= @boat.Korkeus %>
</p>

<p>
  <b>Teho:</b>
  <%= @boat.Teho %>
</p>

<p>
  <b>Vuosimalli:</b>
  <%= @boat.Vuosimalli %>
</p>

<p>
  <b>Venepuha:</b>
  <%= @boat.VenePuhA %>
</p>

<p>
  <b>Venepuhb:</b>
  <%= @boat.VenePuhB %>
</p>

<p>
  <b>Huomautukset:</b>
  <%= @boat.Huomautukset %>
</p>

<p>
  <b>Tarra:</b>
  <%= @boat.Tarra %>
</p>

<p>
  <b>Katsastus:</b>
  <%= @boat.Katsastus %>
</p>

<p>
  <b>Laituri:</b>
  <%= @boat.Laituri %>
</p>

<p>
  <b>Laituripaikka:</b>
  <%= @boat.Laituripaikka %>
</p>

<p>
  <b>Telakka:</b>
  <%= @boat.Telakka %>
</p>


<b>Omistaja(:t)</b>
<ul>
	<% @boat.members.each do |member| %>
		<li><%= link_to member.Nimi , member_path(member) %></li>
	<% end %>
</ul>



<%= link_to 'Edit', edit_boat_path(@boat) %> |
<%= link_to 'Back', boats_path %>
