<div id="freakingdockshowdotheywork">
<h1>Laiturit</h1>



<% @docks.each do |dock| %>
    <h3>Laituri <%= "#{dock.name} - #{dock.length.to_s} m" %> <%= link_to 'N채yt채', dock %></h3>
    <div class="row">
      <div class="span5">
        <table class="table table-condensed">
		  <% max_nro = 0 %>
		  <% for paikka in dock.berths %>
		  <% if paikka.number > max_nro %>
		    <% max_nro = paikka.number %>
		  <% end %>
		  <% end %>
          <% if max_nro > 0 %>
              <% ind = (1..max_nro).reject(&:even?) %>
              <% ind.each do |i| %>
                  <% berth = dock.berths.find_by_number(i) %>
                  <tr>
                    <% if berth %>
                        <% if berth.boat %>
                            <td><b><%= i %></b>: <%= check_box_tag(berth.id, berth.id, checked = false) %> <%= berth.boat.nimi %> </td>
                        <% else %>
                            <td><b><%= i %></b>: <%= check_box_tag(berth.id, berth.id, checked = false) %> Ei venett채</td>
                        <% end %>
                    <% else %>
                        <td><b><%= i %></b>: Ei laituripaikkaa - <%= link_to 'Luo uusi laituripaikka', new_dock_berth_path(dock, :numero => i) %></td>
                    <% end %>
                  </tr>
              <% end %>
          <% end %>

        </table>
      </div>
      <div class="span5">
        <table class="table table-condensed">
		<% max_nro = 0 %>
		  <% for paikka in dock.berths %>
		  <% if paikka.number > max_nro %>
		    <% max_nro = paikka.number %>
		  <% end %>
		  <% end %>
          <% if max_nro > 0 %>
              <% ind = (1..max_nro).reject(&:odd?) %>
              <% ind.each do |i| %>
                  <% berth = dock.berths.find_by_number(i) %>
                  <tr>
                    <% if berth %>
                        <% if berth.boat %>
                            <td><b><%= i %></b>:  <%= check_box_tag(berth.id, berth.id, checked = false) %> <%= berth.boat.nimi %> </td>
                        <% else %>
                            <td><b><%= i %></b>: <%= check_box_tag(berth.id, berth.id, checked = false) %> Ei venett채</td>
                        <% end %>
                    <% else %>
                        <td><b><%= i %></b>: Ei laituripaikkaa - <%= link_to 'Luo uusi laituripaikka', new_dock_berth_path(dock, :numero => i) %></td>
                    <% end %>
                  </tr>
              <% end %>
          <% end %>
        </table>
      </div>
    </div>
<% end %>
</table>
<%= @virhe %>
<br/>
<% #@paikka1.length %>
<br/>
<% #@boat1.pituus %>
<br/>
<% #@paikka2.length %>

<div id="error"></div>

<br/>

<%= form_tag docks_path, :method => 'get' do %>
    <%= button_tag(type: "submit", class: "btn btn-warning", data: { confirm: 'Oletko varma?' }) do %>
        <i class="icon-briefcase icon-white"></i> Vaihda
    <% end %>
    <%= hidden_field_tag :paikka1, nil %>
    <%= hidden_field_tag :paikka2, nil %>
<% end %>

<%= link_to '<i class="btn btn-success"><i class="icon-plus icon-white"></i> Luo uusi laituri</i>'.html_safe, new_dock_path %>
</div>
