<h1>Laiturit</h1>

<table class="table table-condensed">
  <tr>
    <th>Laituri</th>
    <th>Pituus</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @docks.each do |dock| %>
  <tr>
    <td><%= dock.id.to_s %></td>
    <td><%= dock.length.to_s + ' m' %></td>
    <td><%= link_to '<i class="btn btn-primary btn-mini"><i class="icon-info-sign icon-white"></i>Tiedot</i>'.html_safe, dock %>
        <%= link_to '<i class="btn btn-primary btn-mini"><i class="icon-edit icon-white"></i>Muokkaa</i>'.html_safe, edit_dock_path(dock) %>
        <%= link_to '<i class="btn btn-danger btn-mini"><i class="icon-remove icon-white"></i>Poista</i>'.html_safe, dock, method: :delete, data: { confirm: 'Oletko varma?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to '<i class="btn btn-success"><i class="icon-plus icon-white"></i> Luo uusi laituri</i>'.html_safe, new_dock_path %>
