<h1>Laiturit</h1>



<% @docks.each do |dock| %>
    <h3><%= "#{dock.name} - #{dock.length.to_s} m" %></h3>
    <div class="row">
      <div class="span5">
        <table class="table table-condensed">
          <% max_id = dock.berths.maximum("id") || 0 %>
          <% if max_id > 0 %>
              <% ind = (1..max_id).reject(&:even?) %>
              <% ind.each do |i| %>
                  <% berth = dock.berths.find_by_number(i) %>
                  <tr>
                    <% if berth %>
                        <% if berth.boat %>
                            <td><%= i %>: <%= berth.boat.nimi %> </td>
                        <% else %>
                            <td>Ei venettä <%= i %></td>
                        <% end %>
                    <% else %>
                        <td><%= i %>: Ei laituripaikkaa</td>
                    <% end %>
                  </tr>
              <% end %>
          <% end %>

        </table>
      </div>
      <div class="span5">
        <table class="table table-condensed">
          <% max_id = dock.berths.maximum("id") || 0  %>
          <% if max_id > 0 %>
              <% ind = (1..max_id).reject(&:odd?) %>
              <% ind.each do |i| %>
                  <% berth = dock.berths.find_by_number(i) %>
                  <tr>
                    <% if berth %>
                        <% if berth.boat %>
                            <td><%= i %>: <%= berth.boat.nimi %> </td>
                        <% else %>
                            <td>Ei venettä <%= i %></td>
                        <% end %>
                    <% else %>
                        <td><%= i %>: Ei laituripaikkaa</td>
                    <% end %>
                  </tr>
              <% end %>
          <% end %>
        </table>
      </div>
    </div>
<% end %>
</table>

<br/>

<%= link_to '<i class="btn btn-success"><i class="icon-plus icon-white"></i> Luo uusi laituri</i>'.html_safe, new_dock_path %>