<h1>Laiturit</h1>



<% @docks.each do |dock| %>
    <h3>Laituri <%= "#{dock.name} - #{dock.length.to_s} m" %> <%= link_to 'N채yt채', dock %></h3>
    <div class="row">
      <div class="span5">
        <table class="table table-condensed">
          <% max_numero = dock.berths.max_by(&:number).number || 0 %>
          <% if max_numero > 0 %>
              <% ind = (1..max_numero).reject(&:even?) %>
              <% ind.each do |i| %>
                  <% berth = dock.berths.find_by_number(i) %>
                  <tr>
                    <% if berth %>
                        <% if berth.boat %>
                            <td><%= check_box_tag(berth.boat.id, berth.boat.id, checked = false, :onclick => "swap()", :class => "boat") %><b> <%= i %></b>: <%= berth.boat.nimi %> </td>
                        <% else %>
                            <td><%= check_box_tag(berth.id, berth.id, checked = false) %><b> <%= i %></b>: Ei venett채</td>
                        <% end %>
                    <% else %>
                        <td><b><%= i %></b>: Ei laituripaikkaa</td>
                    <% end %>
                  </tr>
              <% end %>
          <% end %>

        </table>
      </div>
      <div class="span5">
        <table class="table table-condensed">
          <% max_numero = dock.berths.max_by(&:number).number || 0 %>
          <% if max_numero > 0 %>
              <% ind = (1..max_numero).reject(&:odd?) %>
              <% ind.each do |i| %>
                  <% berth = dock.berths.find_by_number(i) %>
                  <tr>
                    <% if berth %>
                        <% if berth.boat %>
                            <td><%= check_box_tag(berth.boat.id, berth.boat.id, checked = false) %> <b><%= i %></b>: <%= berth.boat.nimi %> </td>
                        <% else %>
                            <td><%= check_box_tag(berth.id, berth.id, checked = false) %><b><%= i %></b>: Ei venett채</td>
                        <% end %>
                    <% else %>
                        <td><b><%= i %></b>: Ei laituripaikkaa</td>
                    <% end %>
                  </tr>
              <% end %>
          <% end %>
        </table>
      </div>
    </div>
<% end %>
</table>
<%= @teksti %>
<br/>
<% #@paikka1.length %>
<br/>
<% #@boat1.pituus %>
<br/>
<% #@paikka2.length %>

<div id="error"></div>

<br/>

<%= form_tag docks_path, :method => 'get' do %>
    <%= button_tag(type: "submit", class: "btn btn-warning", data: { confirm: 'Oletko varma?' }) do %>
        <i class="icon-briefcase icon-white"></i> Vaihda
    <% end %>
    <%= text_field_tag :vene1, nil %>
    <%= text_field_tag :vene2, nil %>
<% end %>

<%= link_to '<i class="btn btn-success"><i class="icon-plus icon-white"></i> Luo uusi laituri</i>'.html_safe, new_dock_path %>