<h1>Laituri <%= @dock.id %> # </h1>
<p id="notice"><%= notice %></p>

<p>
  <b>Laiturin pituus:</b>
  <%= @dock.length.to_s + ' m' %>
</p>


<%= link_to 'Muokkaa', edit_dock_path(@dock) %>
<%= link_to 'Takaisin', docks_path %>
<%= link_to 'Uusi laituripaikka', new_dock_berth_path(@dock) %>

<h2>Laituripaikat</h2>
<h3>Laituri <%= @dock.id %># vasen: </h3>
<table>
 	<tr>
	    <th>Numero</th>
	    <th>Pituus</th>
	    <th>Leveys</th>
	    <th>Syvyys</th>
	    <th>Reknro</th>
	    <th>Jno</th>
	    <th>Vartiovuoro</th>
            <th>Hinta</th>
	    <th>On olemassa</th>
	    <th></th>
	    <th></th>
  	</tr>

	<% @berths.each do |berth| %>		
		<% if berth.number % 2 != 0 %>
	<tr>
            <td><%= berth.number.to_s %></td>
	    <td><%= berth.length.to_s + ' m' %></td>
	    <td><%= berth.width.to_s + ' m' %></td>
	    <td><%= berth.depth.to_s + ' m' %></td>
            <td><%= link_to berth.Reknro.to_s, Boat.where(:RekNro => berth.Reknro).first %></td>
            <td><%= berth.jno.to_s %></td>
            <td><%= berth.vartio.to_s %></td>
            <td><%= ((berth.width.to_s.to_d)/(@leveysLaituripaikanHinnanKasvuun.to_s.to_d)).ceil*@veneenHinnanKasvu+@minLaituripaikanHinta unless @veneenHinnanKasvu.nil? %></td>
	    <td><%= berth.printExists %></td>
    	    <td><%= link_to 'Muokkaa', edit_dock_berth_path(@dock.id, berth) %></td>
	    <td><%= link_to 'Poista', berth, method: :delete, data: { confirm: 'Oletko varma?' } %></td>
 	</tr>
 		<%end%>
	<% end %>
</table>

<h3>Laituri <%= @dock.id %># oikea: </h3>
<table>
 	<tr>
	    <th>Numero</th>
	    <th>Pituus</th>
            <th>Leveys</th>
            <th>Syvyys</th>
            <th>Reknro</th>
            <th>Jno</th>
            <th>Vartiovuoro</th>
            <th>Hinta</th>
            <th>On olemassa</th>
	    <th></th>
	    <th></th>
  	</tr>

	<% @berths.each do |berth| %>		
		<% if berth.number % 2 == 0 %>
	<tr>
	  	<td><%= berth.number.to_s %></td>
	    <td><%= berth.length.to_s + ' m' %></td>
	    <td><%= berth.width.to_s + ' m' %></td>
	    <td><%= berth.depth.to_s + ' m' %></td>
            <td><%= berth.Reknro.to_s %></td>
            <td><%= berth.jno.to_s %></td>
            <td><%= berth.vartio.to_s %></td>
            <td><%= ((berth.width.to_f)/(@leveysLaituripaikanHinnanKasvuun.to_f)).ceil*@veneenHinnanKasvu+@minLaituripaikanHinta %></td>
	    <td><%= berth.printExists %></td>
    	    <td><%= link_to 'Muokkaa', edit_dock_berth_path(@dock.id, berth) %></td>
	    <td><%= link_to 'Poista', berth, method: :delete, data: { confirm: 'Oletko varma?' } %></td>
 	</tr>
 		<%end%>
	<% end %>
</table>
<br />
<p> Laiturissa tilaa : <%= @spaceLeft.to_s + ' m' %> </p>
