<%= simple_form_for(@member, :html => { :class => 'form-horizontal', :onsubmit => "generateIndexNumber()"}) do |f| %>
  <% if @member.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@member.errors.count, "error") %> prohibited this member from being saved:</h2>

      <ul>
      <% @member.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% if @member.deleted %>
    <p> Jäsen on poistettu. </p>
    <div class="field">
      <label> <%= f.check_box :deleted %>  Poistettu</label>
    </div>
  <% end %>


  <div class="field">
    <%= f.label 'Nimi' %>
    <%= f.text_field :nimi %>
  </div>
  <div class="field">
    <%= f.label :jno, :label => 'Jäsennumero' %>
    <%= f.number_field :jno, :value => @nextjno %>
  </div>
  <div class="field">
    <%= f.label :sotu %>
    <%= f.text_field :sotu %>
  </div>
  <div class="field">
    <%= f.label :liittynyt %>
    <%= f.date_select :liittynyt, :order => [ :day, :month, :year] %>
  </div>
  <div class="field">
    <%= f.label 'Jäsentyyppi' %>
    <%= f.select :jasentyyppi, Member::JASENTYYPIT %><br />
  </div>
  <div class="field">
    <%= f.label :muutos_pvm %>
    <%= f.date_select :muutos_pvm, :order => [ :day, :month, :year] %>
  </div>
  <div class="field">
    <%= f.label :toimi %>
    <%= f.text_field :toimi %>
  </div>
  <div class="field">
    <%= f.label :lisenssi %>
    <%= f.text_field :lisenssi %>
  </div>
  <div class="field">
    <%= f.label :osoite %>
    <%= f.text_field :osoite %>
  </div>
  <div class="field">
    <%= f.label :posti %>
    <%= f.text_field :posti %>
  </div>
  <div class="field">
    <%= f.label :maa %>
    <%= f.text_field :maa %>
  </div>
  <div class="field">
    <%= f.label :koti_puh %>
    <%= f.text_field :koti_puh %>
  </div>
  <div class="field">
    <%= f.label :matka_puh %>
    <%= f.text_field :matka_puh %>
  </div>
  <div class="field">
    <%= f.label :tyo_puh, :label => 'Työpuh' %>
    <%= f.text_field :tyo_puh %>
  </div>
  <div class="field">
    <%= f.label :email_fax %>
    <%= f.text_field :email_fax %>
  </div>
  <div class="field">
    <%= f.label :ammatti %>
    <%= f.text_field :ammatti %>
  </div>
  <div class="field">
    <%= f.label :laivuri %>
    <%= f.text_field :laivuri %>
  </div>
  <div class="field">
    <%= f.label :huom %>
    <%= f.text_field :huom %>
  </div>
  <div class="field">
    <%= f.label :varasto %>
    <%= f.text_field :varasto %>
  </div>
  <div class="field">
    <%= f.label :avain %>
    <%= f.text_field :avain %>
  </div>
  <div class="field">
    <%= f.label :Venereknro %>
    <%= text_field_tag :Venereknro %>
  </div>
  <div class="field">
    <%= f.hidden_field :viitenumero %>
  </div>
  <div class="actions">
    <%= f.submit @teksti %>
  </div>



<% end %>
