<!DOCTYPE html>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js">
</script>
<script src="/assets/memberfilter.js">
</script>
<body>
  <h1>Jäsenet</h1>
    <ul>Filtterit
      <label for="ctoimi"><input type="checkbox" id="ctoimi" onclick="toggle('.toimi', this)"/>Toimi</label> 
      <label for="clisenssi"><input type="checkbox" id="clisenssi" onclick="toggle('.lisenssi', this)"/>Lisenssi</label> 
      <label for="cposti"><input type="checkbox" id="cposti" onclick="toggle('.posti', this)"/>Posti</label> 
      <label for="cmaa"><input type="checkbox" id="cmaa" onclick="toggle('.maa', this)"/>Maa</label> 
      <label for="claivuri"><input type="checkbox" id="claivuri" onclick="toggle('.laivuri', this)"/>Laivuri</label> 
      <label for="cvarasto"><input type="checkbox" id="cvarasto" onclick="toggle('.varasto', this)"/>Varasto</label> 
      <label for="cavain"><input type="checkbox" id="cavain" onclick="toggle('.avain', this)"/>Avain</label> 
      <label for="chuom"><input type="checkbox" id="chuom" onclick="toggle('.huom', this)"/>Huom</label> 

    </ul>
    <table>
      <tr>
        <th><%= sortable "Nimi" %></th>
        <th><%= sortable "Jno" %></th>
        <th><%= sortable "MatkaPuh" %></th>
        <th><%= sortable "EmailFax" %></th>
        <th><%= sortable "Sotu" %></th>
        <th><%= sortable "Liittynyt" %></th>
        <th><%= sortable "JK" %></th>
        <th class="toimi"><%= sortable "Toimi" %></th>
        <th class="lisenssi"><%= sortable "Lisenssi" %></th>
        <th class="posti"><%= sortable "Posti" %></th>
        <th class="maa"><%= sortable "Maa" %></th>
        <th class="laivuri"><%= sortable "Laivuri" %></th>
        <th class="varasto"><%= sortable "Varasto" %></th>
        <th class="avain"><%= sortable "Avain" %></th>
        <th class="huom"><%= sortable "Huom" %></th>
        <th><%= sortable "MuutosPvm" %></th>
        <th>POISTETTU</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>

    <% for member in @members %>
      <tr>
        <td><%= member.Nimi %></td>
        <td><%= member.Jno %></td>
        <td><%= member.MatkaPuh %></td>
        <td><%= member.EmailFax %></td>
        <td><%= truncate(member.Sotu, :length => 7, :omission => "") %></td>
        <td><%= member.Liittynyt %></td>
        <td><%= member.JK %></td>
        <td class="toimi"><%= member.Toimi %></td>
        <td class="lisenssi"><%= member.Lisenssi %></td>
        <td class="posti"><%= member.Posti %></td>
        <td class="maa"><%= member.Maa %></td>
        <td class="laivuri"><%= member.Laivuri %></td>
        <td class="varasto"><%= member.Varasto %></td>
        <td class="avain"><%= member.Avain %></td>
        <td class="huom"><%= member.Huom %></td>
        <td><%= member.MuutosPvm %></td>
        <td><%= member.deleted ? 'Kyllä' : 'Ei' %></td>
        <td><%= link_to 'Tiedot', member %></td>
        <td><%= link_to 'Muokkaa', edit_member_path(member) %></td>
        <td><%= link_to 'Poista', member, method: :delete, data: { confirm: 'Oletko varma?' } %></td>
      </tr>
    <% end %>
    </table>

    <br />

    <%= link_to 'Luo uusi jäsen', new_member_path %>
    <br />
    <%= link_to 'Main menu', root_path %>
</body>
