<h1>Listing members</h1>

<table>
  <tr>
    <th>Nimi</th>
    <th>Jno</th>
    <th>Sotu</th>
    <th>Liittynyt</th>
    <th>Jk</th>
    <th>Muutospvm</th>
    <th>Toimi</th>
    <th>Lisenssi</th>
    <th>Osoite</th>
    <th>Posti</th>
    <th>Maa</th>
    <th>Kotipuh</th>
    <th>Matkapuh</th>
    <th>Tyopuh</th>
    <th>Emailfax</th>
    <th>Ammatti</th>
    <th>Laivuri</th>
    <th>Huom</th>
    <th>Varasto</th>
    <th>Avain</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @members.each do |member| %>
  <tr>
    <td><%= member.Nimi %></td>
    <td><%= member.Jno %></td>
    <td><%= member.Sotu %></td>
    <td><%= member.Liittynyt %></td>
    <td><%= member.JK %></td>
    <td><%= member.MuutosPvm %></td>
    <td><%= member.Toimi %></td>
    <td><%= member.Lisenssi %></td>
    <td><%= member.Osoite %></td>
    <td><%= member.Posti %></td>
    <td><%= member.Maa %></td>
    <td><%= member.KotiPuh %></td>
    <td><%= member.MatkaPuh %></td>
    <td><%= member.TyoPuh %></td>
    <td><%= member.EmailFax %></td>
    <td><%= member.Ammatti %></td>
    <td><%= member.Laivuri %></td>
    <td><%= member.Huom %></td>
    <td><%= member.Varasto %></td>
    <td><%= member.Avain %></td>
    <td><%= link_to 'Show', member %></td>
    <td><%= link_to 'Edit', edit_member_path(member) %></td>
    <td><%= link_to 'Destroy', member, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Member', new_member_path %>
