<!DOCTYPE html>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js">
</script><script src="/assets/memberfilter.js">
</script>
<script src="/assets/jquery.tablesorter.js">
</script>
<script>
    $(document).ready(function(){
        $("#button").click(function() {
            $("#filtterit").toggle();
        });
    });
</script>
<style type="text/css">
th { cursor: pointer;}
</style>

<body onload="hideAll();">
<h1>J채senet</h1>
<%= form_tag members_path, :method => 'get', :class => 'form-search' do %>
    <p>
      <%= text_field_tag :search, params[:search], :class => 'input-medium search-query' %>
      <%= submit_tag "Search" %>
    </p>
<% end %>

<%= form_tag members_path, :method => 'get' do %>
    <%= hidden_field_tag @osoite, 1 %>
    <%= submit_tag @naytateksti, :class => 'btn btn-info' %>
<% end %>


<button class="btn btn-info" type="button" id="button">Filtterit</button>

<form class="form-inline" id="filtterit">

  <label for="ctoimi" class="checkbox"><input type="checkbox" id="ctoimi" onclick="toggle('.toimi', this)"/>toimi</label>
  <label for="clisenssi" class="checkbox"><input type="checkbox" id="clisenssi" onclick="toggle('.lisenssi', this)"/>lisenssi</label>
  <label for="cposti" class="checkbox"><input type="checkbox" id="cposti" onclick="toggle('.posti', this)"/>posti</label>
  <label for="cmaa" class="checkbox"><input type="checkbox" id="cmaa" onclick="toggle('.maa', this)"/>maa</label>
  <label for="claivuri" class="checkbox"><input type="checkbox" id="claivuri" onclick="toggle('.laivuri', this)"/>laivuri</label>
  <label for="cvarasto" class="checkbox"><input type="checkbox" id="cvarasto" onclick="toggle('.varasto', this)"/>varasto</label>
  <label for="cavain" class="checkbox"><input type="checkbox" id="cavain" onclick="toggle('.avain', this)"/>avain</label>
  <label for="chyvitys" class="checkbox"><input type="checkbox" id "chyvitys" onclick="toggle('.hyvitys', this)"/>hyvitys</label>
  <label for="chuom" class="checkbox"><input type="checkbox" id="chuom" onclick="toggle('.huom', this)"/>huom</label>

</form>
<table id="myTable" class="table table-condensed">
  <thead>
  <tr>
    <th>Nimi</th>
    <th>J채sennumero</th>
    <th>Matka puh</th>
    <th>Email/fax</th>
    <th>Sotu</th>
    <th>Liittynyt</th>
    <th>J채sentyyppi</th>
    <th class="hyvitys">hyvitys</th>
    <th class="toimi">toimi</th>
    <th class="lisenssi">lisenssi</th>
    <th class="posti">posti</th>
    <th class="maa">maa</th>
    <th class="laivuri">laivuri</th>
    <th class="varasto">varasto</th>
    <th class="avain">avain</th>
    <th class="huom">huom</th>
    <th>Muutos pvm</th>
    <th>Viitenumero</th>
    <th></th>
  </tr>
  </thead>

  <% for member in @members %>

      <tr>
        <td><%= member.nimi %></td>
        <td><%= member.jno %></td>
        <td><%= member.matka_puh %></td>
        <td><%= member.email_fax %></td>
        <td><%= truncate(member.sotu, :length => 7, :omission => "") %></td>
        <td><%= member.liittynyt %></td>
        <td><%= member.jasentyyppi %></td>
        <% if member.berthrefund == true or member.dockyardspotrefund == true or member.storagerefund == true or member.membershiprefund == true %>
        <td class="hyvitys">true</td>
        <% else %>
        <td class="hyvitys">false</td>
        <% end %>
        <td class="toimi"><%= member.toimi %></td>
        <td class="lisenssi"><%= member.lisenssi %></td>
        <td class="posti"><%= member.posti %></td>
        <td class="maa"><%= member.maa %></td>
        <td class="laivuri"><%= member.laivuri %></td>
        <td class="varasto"><%= member.varasto %></td>
        <td class="avain"><%= member.avain %></td>
        <td class="huom"><%= member.huom %></td>
        <td><%= member.muutos_pvm %></td>
        <td><%= member.viitenumero %></td>
        <td><%= link_to '<i class="btn btn-primary btn-mini"><i class="icon-info-sign icon-white"></i>Tiedot</i>'.html_safe, member %>
            <%= link_to '<i class="btn btn-primary btn-mini"><i class="icon-edit icon-white"></i>Muokkaa</i>'.html_safe, edit_member_path(member) %>
            <%= link_to '<i class="btn btn-danger btn-mini"><i class="icon-remove icon-white"></i>Poista</i>'.html_safe, member, method: :delete, data: { confirm: 'Oletko varma?' } %>
        </td>
      </tr>
  <% end %>
</table>

<br />

<%= link_to '<i class="btn btn-success"><i class="icon-plus icon-white"></i>  Luo uusi j채sen</i>'.html_safe, new_member_path %>
<script>
    $(document).ready(function() {
        $("#myTable").tablesorter();
    });
</script>
</body>
