<!DOCTYPE html>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js">
</script><script src="/assets/memberfilter.js">
</script>
<script src="/assets/jquery.tablesorter.js">
</script>
<script>
    $(document).ready(function(){
        $("#button").click(function() {
            $("#filtterit").toggle();
        });
    });
</script>

<body onload="hideAll();">

<h1>J채senet</h1>

<%= form_tag members_path, :method => 'get', :class => 'form-search' do %>
    <p>
      <%= text_field_tag :search, params[:search], :class => 'input-medium search-query' %>
      <%= submit_tag "Search" %>
    </p>
<% end %>

<%= form_tag members_path, :method => 'get' do %>
    <%= hidden_field_tag @osoite, 1 %>
    <%= submit_tag @naytateksti, :class => 'btn btn-info' %>
<% end %>

<button class="btn btn-info" type="button" id="button">Filtterit</button>

<form class="form-inline" id="filtterit">

  <label for="ctoimi" class="checkbox"><input type="checkbox" id="ctoimi" onclick="toggle('.toimi', this)"/>Toimi</label>
  <label for="clisenssi" class="checkbox"><input type="checkbox" id="clisenssi" onclick="toggle('.lisenssi', this)"/>Lisenssi</label>
  <label for="cposti" class="checkbox"><input type="checkbox" id="cposti" onclick="toggle('.posti', this)"/>Posti</label>
  <label for="cmaa" class="checkbox"><input type="checkbox" id="cmaa" onclick="toggle('.maa', this)"/>Maa</label>
  <label for="claivuri" class="checkbox"><input type="checkbox" id="claivuri" onclick="toggle('.laivuri', this)"/>Laivuri</label>
  <label for="cvarasto" class="checkbox"><input type="checkbox" id="cvarasto" onclick="toggle('.varasto', this)"/>Varasto</label>
  <label for="cavain" class="checkbox"><input type="checkbox" id="cavain" onclick="toggle('.avain', this)"/>Avain</label>
  <label for="chuom" class="checkbox"><input type="checkbox" id="chuom" onclick="toggle('.huom', this)"/>Huom</label>

</form>

<table id="myTable" class="table table-condensed">
  <thead>
  <tr>
    <th>Nimi</th>
    <th>J채sennumero</th>
    <th>MatkaPuh</th>
    <th>EmailFax</th>
    <th>Sotu</th>
    <th>Liittynyt</th>
    <th>J채senkoodi</th>
    <th class="toimi">Toimi</th>
    <th class="lisenssi">Lisenssi</th>
    <th class="posti">Posti</th>
    <th class="maa">Maa</th>
    <th class="laivuri">Laivuri</th>
    <th class="varasto">Varasto</th>
    <th class="avain">Avain</th>
    <th class="huom">Huom</th>
    <th>MuutosPvm</th>
    <th>Viitenumero</th>
    <th></th>
  </tr>
  </thead>

  <% for member in @members %>
      <tr>
        <td><%= member.Nimi %></td>
        <td><%= member.Jno %></td>
        <td><%= member.MatkaPuh %></td>
        <td><%= member.EmailFax %></td>
        <td><%= truncate(member.Sotu, :length => 7, :omission => "") %></td>
        <td><%= member.Liittynyt %></td>
        <td><%= member.JK %></td>
        <td class="toimi"><%= member.Toimi %></td>
        <td class="lisenssi"><%= member.Lisenssi %></td>
        <td class="posti"><%= member.Posti %></td>
        <td class="maa"><%= member.Maa %></td>
        <td class="laivuri"><%= member.Laivuri %></td>
        <td class="varasto"><%= member.Varasto %></td>
        <td class="avain"><%= member.Avain %></td>
        <td class="huom"><%= member.Huom %></td>
        <td><%= member.MuutosPvm %></td>
        <td><%= member.viitenumero %></td>
        <td><%= link_to '<i class="btn btn-primary btn-mini"><i class="icon-info-sign icon-white"></i>Tiedot</i>'.html_safe, member %>
            <%= link_to '<i class="btn btn-primary btn-mini"><i class="icon-edit icon-white"></i>Muokkaa</i>'.html_safe, edit_member_path(member) %>
            <%= link_to '<i class="btn btn-danger btn-mini"><i class="icon-remove icon-white"></i>Poista</i>'.html_safe, member, method: :delete, data: { confirm: 'Oletko varma?' } %>
        </td>
      </tr>
  <% end %>
</table>

<br />

<%= link_to '<i class="btn btn-danger"><i class="icon-home icon-white"></i>    Etusivulle</i>'.html_safe, root_path %>

<%= link_to '<i class="btn btn-success"><i class="icon-plus icon-white"></i>  Luo uusi j채sen</i>'.html_safe, new_member_path %>
<script>
    $(document).ready(function() {
        $("#myTable").tablesorter();
    });
</script>
</body>
