<h1>Jäsenet</h1>

<table>
  <tr>
    <th><%= sortable "Nimi" %></th>
    <th><%= sortable "Jno" %></th>
    <th><%= sortable "Sotu" %></th>
    <th><%= sortable "Liittynyt" %></th>
    <th><%= sortable "JK" %></th>
    <th><%= sortable "MuutosPvm" %></th>
    <th>POISTETTU</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% for member in @members %>
  <tr>
    <td><%= member.Nimi %></td>
    <td><%= member.Jno %></td>
    <td><%= member.Sotu %></td>
    <td><%= member.Liittynyt %></td>
    <td><%= member.JK %></td>
    <td><%= member.MuutosPvm %></td>
    <td><%= member.deleted ? 'Kyllä' : 'Ei' %></td>
    <td><%= link_to 'Tiedot', member %></td>
    <td><%= link_to 'Muokkaa', edit_member_path(member) %></td>
    <td><%= link_to 'Poista', member, method: :delete, data: { confirm: 'Oletko varma?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Luo uusi jäsen', new_member_path %>
<br />
<%= link_to 'Main menu', root_path %>
