<p>
  <b>nimi:</b>
  <%= @member.nimi %>
</p>

<p>
  <b>Laskut: </b>
  <%= link_to '<i class="btn btn-primary btn-mini"><i class="icon-plus-sign icon-white"></i> Uusi lasku</i>'.html_safe, new_invoice_path(:jno => @member.jno)%>
  <ul>
    <% @member.invoices.each do |invoice| %>
      <li><%= link_to invoice.erapvm, invoice_path(invoice) %> <%= invoice.maksettu ? 'Maksettu' : (invoice.eraantynyt ? 'ERÄÄNTYNYT' : 'Ei maksettu') %> </li>
    <% end %>
  </ul>

</p>

<p>
  <b>Jäsennumero:</b>
  <%= @member.jno %>
</p>

<p>
  <b>sotu:</b>
  <%= @member.sotu %>
</p>

<p>
  <b>liittynyt:</b>
  <%= @member.liittynyt %>
</p>

<p>
  <b>Jäsentyyppi:</b>
  <%= @member.jasentyyppi %>
</p>

<p>
  <b>muutos_pvm:</b>
  <%= @member.muutos_pvm %>
</p>

<p>
  <b>toimi:</b>
  <%= @member.toimi %>
</p>

<p>
  <b>lisenssi:</b>
  <%= @member.lisenssi %>
</p>

<p>
  <b>osoite:</b>
  <%= @member.osoite %>
</p>

<p>
  <b>posti:</b>
  <%= @member.posti %>
</p>

<p>
  <b>maa:</b>
  <%= @member.maa %>
</p>

<p>
  <b>koti_puh:</b>
  <%= @member.koti_puh %>
</p>

<p>
  <b>matka_puh:</b>
  <%= @member.matka_puh %>
</p>

<p>
  <b>Työpuh:</b>
  <%= @member.tyo_puh %>
</p>

<p>
  <b>email_fax:</b>
  <%= @member.email_fax %>
</p>

<p>
  <b>ammatti:</b>
  <%= @member.ammatti %>
</p>

<p>
  <b>laivuri:</b>
  <%= @member.laivuri %>
</p>

<p>
  <b>huom:</b>
  <%= @member.huom %>
</p>

<p>
  <b>varasto:</b>
  <%= @member.varasto %>
</p>

<p>
  <b>avain:</b>
  <%= @member.avain %>
</p>

<% if @member.deleted %>
  <p>
  <b>Poisto pvm:</b>
  <%= @member.deleted_at %>
  </p>
<% else %>

  <b>Vene(:et)</b>
  <ul>
  	<% @member.boats.each do |boat| %>
  		<li><%= link_to boat.nimi , boat_path(boat) %></li>
  	<% end %>
  </ul>
<% end %>


<%= link_to 'Muokkaa', edit_member_path(@member) %> |
<%= link_to 'Takaisin', members_path %>
