<p>
  <b>Nimi:</b>
  <%= @member.Nimi %>
</p>

<p>
  <b>Jno:</b>
  <%= @member.Jno %>
</p>

<p>
  <b>Sotu:</b>
  <%= @member.Sotu %>
</p>

<p>
  <b>Liittynyt:</b>
  <%= @member.Liittynyt %>
</p>

<p>
  <b>Jk:</b>
  <%= @member.JK %>
</p>

<p>
  <b>Muutospvm:</b>
  <%= @member.MuutosPvm %>
</p>

<p>
  <b>Toimi:</b>
  <%= @member.Toimi %>
</p>

<p>
  <b>Lisenssi:</b>
  <%= @member.Lisenssi %>
</p>

<p>
  <b>Osoite:</b>
  <%= @member.Osoite %>
</p>

<p>
  <b>Posti:</b>
  <%= @member.Posti %>
</p>

<p>
  <b>Maa:</b>
  <%= @member.Maa %>
</p>

<p>
  <b>Kotipuh:</b>
  <%= @member.KotiPuh %>
</p>

<p>
  <b>Matkapuh:</b>
  <%= @member.MatkaPuh %>
</p>

<p>
  <b>Tyopuh:</b>
  <%= @member.TyoPuh %>
</p>

<p>
  <b>Emailfax:</b>
  <%= @member.EmailFax %>
</p>

<p>
  <b>Ammatti:</b>
  <%= @member.Ammatti %>
</p>

<p>
  <b>Laivuri:</b>
  <%= @member.Laivuri %>
</p>

<p>
  <b>Huom:</b>
  <%= @member.Huom %>
</p>

<p>
  <b>Varasto:</b>
  <%= @member.Varasto %>
</p>

<p>
  <b>Avain:</b>
  <%= @member.Avain %>
</p>

<p>
  <b>VeneRekNro:</b>
  <%= @member.VeneRekNro %>
</p>

<% if @member.deleted %>
  <p>
  <b>Poisto pvm:</b>
  <%= @member.deleted_at %>
  </p>
<% else %>

  <b>Vene(:et)</b>
  <ul>
  	<% @member.boats.each do |boat| %>
  		<li><%= link_to boat.Nimi , boat_path(boat) %></li>
  	<% end %>
  </ul>
<% end %>


<%= link_to 'Edit', edit_member_path(@member) %> |
<%= link_to 'Back', members_path %>
