<p>
  <b>Nimi:</b>
  <%= @member.nimi %>
</p>

<p>
  <b>Laskut: </b>
  <%= link_to '<i class="btn btn-primary btn-mini"><i class="icon-plus-sign icon-white"></i> Uusi lasku</i>'.html_safe, new_invoice_path(:jno => @member.jno)%>
  <ul>
    <% @member.invoices.each do |invoice| %>
      <li><%= link_to invoice.erapvm, invoice_path(invoice) %> <%= invoice.maksettu ? 'Maksettu' : (invoice.eraantynyt ? 'ERÄÄNTYNYT' : 'Ei maksettu') %> </li>
    <% end %>
  </ul>

</p>

<p>
  <b>Jäsennumero:</b>
  <%= @member.jno %>
</p>

<p>
  <b>Sotu:</b>
  <%= @member.sotu %>
</p>

<p>
  <b>Liittynyt:</b>
  <%= @member.liittynyt %>
</p>

<p>
  <b>Jäsentyyppi:</b>
  <%= @member.jasentyyppi %>
</p>

<p>
  <b>Muutos pvm:</b>
  <%= @member.muutos_pvm %>
</p>

<p>
  <b>Toimi:</b>
  <% if @member.toimi.nil? %>
    <% toimenNimi = "" %>
  <% elsif @member.toimi.empty? %>
    <% toimenNimi = "" %>
  <% else %>
    <% toimenNimi = Employment.find(@member.toimi).nimi %>
  <% end %>
  <%= toimenNimi %>
</p>

<p>
  <b>Lisenssi:</b>
  <%= @member.lisenssi %>
</p>

<p>
  <b>Osoite:</b>
  <%= @member.osoite %>
</p>

<p>
  <b>Posti:</b>
  <%= @member.posti %>
</p>

<p>
  <b>Maa:</b>
  <%= @member.maa %>
</p>

<p>
  <b>Koti puh:</b>
  <%= @member.koti_puh %>
</p>

<p>
  <b>Matka puh:</b>
  <%= @member.matka_puh %>
</p>

<p>
  <b>Työpuh:</b>
  <%= @member.tyo_puh %>
</p>

<p>
  <b>Email_fax:</b>
  <%= @member.email_fax %>
</p>

<p>
  <b>Ammatti:</b>
  <%= @member.ammatti %>
</p>

<p>
  <b>Laivuri:</b>
  <%= @member.laivuri %>
</p>

<p>
  <b>Huom:</b>
  <%= @member.huom %>
</p>

<p>
  <b>Varasto:</b>
  <%= @member.varasto %>
</p>

<p>
  <b>Avain:</b>
  <%= @member.avain %>
</p>
<p>
  <b>Laituripaikkahyvitys:</b>
  <%= @member.berthrefund %>
</p>
<p>
  <b>Telakkapaikkahyvitys:</b>
  <%= @member.dockyardspotrefund %>
</p>
<p>
  <b>Varastokoppihyvitys:</b>
  <%= @member.storagerefund %>
</p>
<p>
  <b>Jäsenmaksuhyvitys:</b>
  <%= @member.membershiprefund %>
</p>

<% if @member.deleted %>
  <p>
  <b>Poisto pvm:</b>
  <%= @member.deleted_at %>
  </p>
<% else %>

  <b>Vene(:et)</b>
  <ul>
  	<% @member.boats.each do |boat| %>
  		<li><%= link_to boat.nimi , boat_path(boat) %></li>
  	<% end %>
  </ul>
<% end %>


<%= link_to 'Muokkaa', edit_member_path(@member) %> |
<%= link_to 'Takaisin', members_path %>
